#copy
  %h1 Words Per Minute Calculator
  %p
    Words Per Minute Calculator and timer makes it extremely easy to figure out you or your child's reading speed, which has been proven critical to development of solid reading skills in K - 12 children.

  %p
    This app features a built in timer that automatically calculates the WPM (words per minute) based on the entered number of words per passage.  In addition, you can easily enter in any reading errors as well for a more fine tuned score.  You can also manually enter the reading time as well if you are using a secondary timer.  

  %h3 Support and Frequently Asked Questions

  %dl
    %dt How do you use the Words Per Minute Calculator
    %dd To use the app, simply slide the slider or manually enter the number of words in the passage you or your child is reading.  Then click START TIMER or enter the minutes and seconds it took to read the passage plus any errors.  The WPM reading speed will be calculated.

    %dt How do I start or stop the timer in landscape mode?
    %dd To start or stop the timer in landscape mode, simply click the screen.

    %dt Does this work on the iPad or just iPhone?
    %dd The app is universal and should work on all iOS devices.

    %dt What if I am having more problems.
    %dd If you continue having issues, please contact us at support@noctivity.com

    
  